body {
  background-color: #fed6c9;
  font-family:Arial, Helvetica, sans-serif;
}

#players {
  border: 2px solid gray;
  width: auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin-right: 8vw;
}

#players button {
  width: 5vw;
  height: 5vh;
}

#cards {
  font-size: large;
  margin-left: 0px;
  border: 1px solid gray;
  background-color: #fbbca7;
  background-position: center;
  padding: 100px 100px 100px 100px;
  border-spacing: 3vw; 
}

#cards button {
  width: 10vw;
  height: 10vh;
}

body {
  display: flex;
  align-items: baseline;
}