<%# <p>Find me in app/views/student/index.html.erb</p> %>
<h1>Student Page</h1>
<div class="mb-2">
    <%= button_to "View Courses", courses_index_path, method: :get, class: "btn btn-secondary" %>
</div>
<% if current_user.student_application.present? %>
    <div class="mb-2">
        <%= button_to "Edit Application", student_application_edit_path, method: :get, class: "btn btn-primary" %>
    </div>
<% else %>
    <div class="mb-2">
        <%= button_to "New Application", student_application_new_path, method: :get, class: "btn btn-primary" %>
    </div>
<% end %>
<p>Return to <%= link_to "Home", root_path %></p>