<%# <p>Find me in app/views/instructor/index.html.erb</p> %>
<h1>Instructor Page</h1>
<%= button_to "Recommend a student", instructor_recommendation_new_path, method: :get, class: "btn btn-primary" %>
