<h1>Please select an option</h1>
<h3>I am a:</h3>

<%# These links all need to have their paths provided in config/routes.rb %>
<div class="mb-2">
    <%= button_to "Student", student_index_path, method: :get, class: "btn btn-secondary" %>
</div>
<div class="mb-2">
    <%= button_to "Instructor", instructor_index_path, method: :get, class: "btn btn-secondary" %>
</div>
<div class="mb-2">
    <%= button_to "Administrator", admin_index_path, method: :get, class: "btn btn-secondary" %>
</div>