<%# <p>Find me in app/views/admin/index.html.erb</p> %>
<h1>Admin Page</h1>

<h5>Welcome! Please select what you would like to view:</h5>
<%= link_to "View courses that are being offered", courses_index_path%>